html, body {
  overflow: hidden;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(68, 5, 3);
}

img[src$=".gif"] { 
  padding: 10px;
}